<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title</title>
        <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/react.js"></script>
        <script src="~/Scripts/react-dom.js"></script>
        <script src="~/Scripts/browser.min.js"></script>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>

        <script src="~/Scripts/base.js"></script>
    </head>
    <body>

        <div class="container">

            <div class="header">
                <a href="@Url.Action("Index", "School")" class="navigation-item">Schools</a>
                <a href="@Url.Action("Index", "Student")" class="navigation-item">Students</a>
                <a href="@Url.Action("Index", "Subject")" class="navigation-item">Subjects</a>
                <a href="@Url.Action("Index", "Mark")" class="navigation-item">Mark</a>
            </div><br />

            <div id="content">

            </div>

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - School Site</p>
            </footer>
        </div>

    </body>
</html>